/*CSS RESET*/

*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
    font-size: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

fieldset {
    position: relative;
}

legend {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*
input {
    appearance: none;
}
*/
ul {
  padding: 0px;
}

li {
    list-style-type: none;
}


/*NEW STYLES*/

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.navigation {
    background-color: grey;
}

.content {
    background-color: lightblue;
}

.task {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    height: 2em;
    background-color: white;
    border: solid 1px;
    border-color: grey;
    align-items: center;
    padding: 0px 13px;
    margin: 1px;
    box-shadow: 0px 1px 2px -1px;
}
.task:hover {
    background-color: #e9e9ea;
}
.task-controls {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-right: 5px;
}
.icon-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-icon.delete:hover {
    fill: crimson;
}
.small-icon.edit:hover {
    fill: #2d55f7;
}